header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),   rgba(0, 0, 0, 0.75)), url("1.AVIF");
	height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

container{
    width: 100%;
    background-color: green;
}
